recursive-include src/**/static *.json *.min.css *.min.js *.js.map *.svg *.png *.jpg *.wepb *.webmanifest *.woff2
recursive-include src/**/templates *.html
recursive-include tests *.py
recursive-include tests/data *
global-exclude *.pyc
