{% block authentication_pane %}
<div id="authentication-pane">
    {#  wenn eingeloggt: zeig profile button/profile edit form #}
    {#  wenn beim einloggen (korrekter link, aber profile unvollständig): zeig profile edit form #}
    {#  sonst: zeig login button/login form #}
<div>
{% endblock %}
