<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Radkummerkasten</title>

        <meta name="author" content="Radlobby">
        <meta
            name="description"
            content=""
        >
        <meta
            name="keywords"
            content=""
        >

        <link ref="canonical" href="https://radkummerkasten.at/">
        <link rel="manifest" href="static/radkummerkasten.at.webmanifest">

        <link rel="icon" type="image/svg+xml" href="static/images/favicon.svg" sizes="any">
        <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">

        <script src="static/script/maplibre-gl.min.js"></script>
        <link href="static/style/maplibre-gl.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="static/fonts/roboto.min.css">
        <link rel="stylesheet" href="static/style/radkummerkasten.min.css">

        <script src="static/script/bootstrap.min.js"></script>
        <!--//<script src="static/js/bootstrap-darkmode.js"></script>//-->
        <script src="static/script/radkummerkasten.min.js"></script>
    </head>
    <body>
        <h1>Radkummerkasten</h1>
        <div id="map"></div>
    </body>
</html>
